/* ============================================= */
/* Index.html Css file */
/* Clasic Css Properties */
body {
  text-align: center;
  margin: 0;
}
ul {
  list-style: none;
}
/* Navbar Setction  */
#navbar-section {
  border: 10px;
  width: auto;
  background-color: #41aea9;
}
.name-hover:hover {
  color: #133432;
}
.container-padding {
  padding: 0 17%;
  height: 220px;
}
.font-name {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}
.name {
  color: #000;
  font-size: 150%;
  padding-left: 10%;
}
.links-fonts {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3rem;
}
.links-padding {
  padding: 0 5px;
}
.links-padding-left {
  padding-right: 0;
}
.nav-link {
  font-style: initial;
}
.padding-navbar {
  padding-top: 5%;
}
.name-padding {
  padding-left: 2px;
}
.color-home {
  color: rgba(0, 0, 0, 0.5);
}
/* Welcome Section */
.image-size-career-steps {
  width: 90%;
  height: 90%;
}
.text-align {
  text-align: justify;
  font-family: "Sansita Swashed", cursive;
}
.text-adjust {
  padding-right: 5%;
  padding-left: 5%;
}
.button-margins {
  margin: 90px auto 50px;
}
.welcome-padding {
  padding: 80px 0 40px;
}

/* Information Cards */
#Information-cards-section {
  padding: 5% 20%;
}
.postion-list {
  text-align: left;
}
.padding-bottom {
  margin-bottom: 20px;
}
/* Social Network Section */
#social-contact-section {
  background-color: #41aea9;
  height: 200px;
}
.social-contact-class {
  height: 100px;
  width: auto;
}
.social-contact-class-index {
  padding-top: 50px;
}
.social-icons {
  padding: 30px 20px;
  color: aliceblue;
}
/* Footer Section  */
.foter-class {
  padding-top: 20px;
  font-family: "Peddana", serif;
}

.row-padding {
  padding-top: 5%;
}

/* Other Css Properties */

/* ============================================= */

/* ============================================= */
/* Curriculum Vitae Css file */
.content-management {
  padding: 5% 10%;
  font-family: "Kurale", serif;
  text-align: justify;
}
.button-margins-cv1 {
  margin: 10% 0 0 5%;
}
.button-margins-cv2 {
  margin: 5% 0 10% 50%;
}
/* Softwer Section */
.row-settings {
  padding: 50px 10px;
}

.back-color {
  width: auto;
  height: 200px;
  padding: 2% 0 15%;
}
.text-adjust-padding {
  text-align: center;
  line-height: 1.5;
  padding-top: 4%;
  font-family: "Kurale", serif;
}
.minus-margin {
  margin: 0;
}

/* Professional Information  */

.container-info-size {
  padding-bottom: 50px;
  background-color: #41aea9;
  height: 300px;
  margin: 0;
}
.software-settings {
  padding: 0;
}
/* Contact Css */
.contact-padding {
  padding: 5% 5%;
}
.border {
  border: solid 2px;
}
.color-contact {
  background-color: #41aea9;
  border-style: solid 2px;
  border-color: black;
}

.settings-contact {
  font-family: "Kurale", serif;
  padding-top: 5%;
  padding-left: 30%;
}

@media (max-width: 1200px) {
  .size-control-smale {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .size-control-smale {
    width: 80%;
  }
}
.padding-form {
  padding: 0;
  margin: 0 12%;
}
.button-padding-submit {
  padding-right: 13%;
}
.setting-contact-info {
  text-align: center;
  padding: 10% 10% 5%;
}
.setting-contact-info1 {
  text-align: center;
  padding: 2% 22%;
}
.item-adjust {
  font-family: "Jacques Francois", serif;
  width: 100px;
  color: rgba(0, 0, 0, 0.5);
}
.space {
  margin-top: 5%;
  margin-left: 20%;
}
.border-type {
  border: solid 2px;

  border-color: rgba(0, 0, 0, 0.5);
}
.color-hover:hover {
  color: white;
}
